/* برای Webkit browsers (مثل Chrome و Safari) */
.scrollbar-thin::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 9999px;
    /* این باعث گرد شدن اسکرولبار می‌شود */
}

.scrollbar-thin::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 9999px;
}

/* برای Firefox */
.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #c0c0c0 #f0f0f0;
}

@font-face {
    font-family: 'BYekan';
    src: url('./Font/Yekan.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BYekan', sans-serif;
}

/* ///////////////////// */
.ner-box {
    direction: rtl;
    font-size: 18px !important;
    line-height: 20px !important;
    margin: 15px 0;
    padding: 10px;
    text-align: justify;
    color: #333;
}
.token, .token span {
    display: inline-block !important;
    padding: 2px;
    margin: 2px 0;
}
.token.token-ner {
    background-color: #f6cd61;
    font-weight: bold;
    color: #000;
}
.token.token-ner .ner-label {
    color: #9a1f40;
    margin: 0px 2px;
}


/* ////// spiling word */ 
.hoverable-word {
    position: relative;
  }
  
  .hover-alternatives {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f0f0f0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    z-index: 10;
    transform: translateY(10px);
    transition: opacity 2s ease, transform 2s ease;
  }
  
  .hoverable-word:hover .hover-alternatives {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  /* ///// login styles */
  .clippath{
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%, 0 100%);
    background-image: url('../src/images/login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: visible;
  }
  .clippathChangePasssword{
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%, 0 100%);
    background-image: url('../src/images/changePassword.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: visible;
  }
  .white-div {
    position: absolute; /* برای اینکه دایو سفید بتواند از محدوده clip-path بیرون بیاید */
    z-index: 50; /* اطمینان از قرارگیری روی لایه بالاتر */
    top: 50%; /* یا مقدار مناسب دیگر برای تنظیم موقعیت */
    left: 50%;
    transform: translate(-50%, -50%);
  }